/* --frosted-mint: #d8f3dcff;
--celadon: #b7e4c7ff;
--celadon-2: #95d5b2ff;
--mint-leaf: #74c69dff;
--mint-leaf-2: #52b788ff;
--sea-green: #40916cff;
--dark-emerald: #2d6a4fff;
--pine-teal: #1b4332ff;
--evergreen: #081c15ff; */

